extends layout 

block content 
    div(class="heading-container")
        h4(class="heading") Log In
    
    form(method='POST' action='/forum/log-in')
        h4(class="heading1") #{title}
        div.form-group 
            input#username.form-control(class='input' type='text', placeholder="Username" name='username' required='true' )
        div.form-group 
            input#password.form-control(class='input' type='password', placeholder="Password" name='password' required='true' )
        if errors 
            ul(class="error")
                for error in errors
                    li(class='error')!= error.msg
        button.btn.btn-primary(type='submit') Log In


        