extends layout 

block content 
    div(class="heading-container")
            h4(class="heading") Sign Up
    
    form(method='POST' action='')
        h4(class="heading1") #{title}
        div.form-group 
            input#username.form-control(class='input' type='text', placeholder='Username' name='username' required='true' value=(undefined===user ? '' : user.username))
        div.form-group 
            input#password.form-control(class='input' type='password', placeholder='Password' name='password' required='true' value=(undefined===user ? '' : user.password))
        if errors 
            ul(class="error")
                for error in errors
                    li(class='error')!= error.msg
        button.btn.btn-primary(type='submit') Submit


        